.DS_Store
/RevisaoJava/nbproject/private/
/RevisaoJava/build/
/PrimeiroProjetoWeb/nbproject/private/
/PrimeiroProjetoWeb/build/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Servlets/nbproject/private/
/Servlets/build/
/UniClima/nbproject/private/
/UniClima/build/