.DS_Store
/RevisaoJava/nbproject/private/
/RevisaoJava/build/
/PrimeiroProjetoWeb/nbproject/private/
/PrimeiroProjetoWeb/build/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Servlets/nbproject/private/
/Servlets/build/
/UniClima/nbproject/private/
/UniClima/build/
/BhaskaraCalc/nbproject/private/
/AtvBhaskara/nbproject/private/
/BhaskaraCalc/build/
/BhaskaraCalc/dist/
/UniClima/dist/
/Cookies_Sessoes/nbproject/private/
/Cookies_Sessoes/build/